body {
    background-color: #E34A27 !important;
    overflow-y: hidden; 
    overflow-x: hidden; 
  }

audio::-webkit-media-controls-play-button,audio::-webkit-media-controls-panel {
     background-color: #FEA655;
     color: #FEA655;
     border-color: black;
}

#modal1 {
  position:fixed;
  left: 0.5%;
  top: 0.5%;
}
